/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General Styles */
body {
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.8;
  display: grid;
  place-content: center;
  margin: 5rem;
}
/* Product Card Styles */
.product-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.product-content {
  padding: 1.5rem;
  display: grid;
  gap: 0.8rem;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  font-size: 0.8rem;
}

.product-name {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}

.product-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.discount-price {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}

.original-price {
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 15px 5px;
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
}

.btn:hover {
  background-color: hsl(158, 36%, 15%);
}

.btn:focus {
  background-color: hsl(158, 36%, 15%);
}

a.btn::before {
  content: url("/images/icon-cart.svg");
  width: 15px;
  height: 16px;
  margin-right: 10px;
}

/*Footer Styles  */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (min-width: 600px) {
  .product-card {
    display: flex;
    max-width: 100%;
    width: 700px;
  }
}
